.App {
  width: 60%;
  margin:20px auto;
  text-align: center;
  background-color: cadetblue;
  padding: 2%;
  font-size: 50px;

}

.red{
  color:  red;
  background-color: white;

}
.green{
  color: green;
  background-color: white;

}
button{
  border-radius: 5px;
  background-color: white;
  border: aliceblue;
  margin: 10px;
  font-size: 30px;
}

.items {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  align-items: center;
  padding: 10px 2px;
}

.circlularButton {
  background: transparent;
  border: none;
  background: coral;
  border-radius: 50%;
}

.itemsBox{
  width: 100%;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: left;
}
.itemsBox > div{
 margin: 10px;
}
span{
  width: 100px;
}
